*{
    box-sizing: border-box;
}

body{
    font-family: 'Tajawal', sans-serif;
    /* background: #101010; */
    background-attachment: fixed;
    background: repeating-linear-gradient( 
45deg
 , #191919 0%, #000000 10%, #101010 0%, #101010 50%) 0 / 15px 15px;
}

.menu nav a, .title{
    font-family: 'Cinzel', serif;
}

h1{
    color: white;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

a:hover{
    color: #f96f00;
}

.active{
    color: #f96f00;
}

.p-header{
    padding: 1em 4em;
}

.p-section{
    padding: 2.5em 4em;
}

.carousel{
    position: relative;
    height: 75vh;
    overflow: hidden;
    filter: grayscale(1);
}

/* HEADER */
header .menu nav a{
    margin-right: 3.5em;
}

.dropdown-menu{
    background: #101010;
    padding: 0.2em 0.5em;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

/* PAGE HOME */
.home-banniere{
    background: url(../uploads/home-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 75vh;
    filter: grayscale(1);
    transition: all 0.5s ease-in-out;
}

.home-banniere:hover{
    filter: none;
}

.home-banniere:hover .title{
   display: none;
   transition: all 0.5s ease-in-out;
}

.home-banniere .title{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
}

.home-banniere .title h1{
    font-size: 3.5em;
}

.home-banniere .title p{
    font-size: 1.5em;
    font-weight: 600;
}

/* PAGE GALERIE HOME */
.img-wrapper
{
	width: 380px;
    height: 210px;
    margin-top: 1em;
    position: relative;
    overflow: hidden;
}

.img-wrapper:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 180%;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.3);
	z-index: 1;
	transform: skew(45deg);
	transition: .5s;
}

.img-wrapper:hover:before
{
	left: -180%;
}

.img-wrapper img
{
	height: 100%;
    width: 100%;
    filter: grayscale(100%);
    transition: 2s;
    object-fit: cover;
}
.img-wrapper:hover img
{
	filter: grayscale(0%);
	transform: scale(1.1);
}

.img-wrapper h2
{
	background: #f96f0045;
	color: #fff;
    font-size: medium;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 5px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: perspective(400px) rotateY(90deg);
	transform-origin: right;
	transition: 1s;
}

.img-wrapper:hover h2
{
	transform: perspective(400px) rotateY(0deg);
}

.img-wrapper ul
{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li
{
	background: #333;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	transform: perspective(800px) rotateY(90deg);
	transition: .5s;
	transform-origin: left;
}

.img-wrapper:hover ul li
{
	transform: perspective(800px) rotateY(0deg);
}

.img-wrapper:hover ul li:nth-child(1)
{
	transition-delay: .2s;
}

.img-wrapper:hover ul li:nth-child(2)
{
	transition-delay: .6s;
}

.img-wrapper:hover ul li:nth-child(3)
{
	transition-delay: .8s;
}

.img-wrapper:hover ul li:nth-child(4)
{
	transition-delay: 1s;
}

.img-wrapper ul li a
{
	color: tomato;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li i
{
	color: tomato;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li i:hover
{
	color: #fff;
	background: rgba(255,255,255,0);
}



/* PAGE GALERIE CONTENT */
.section-titre{
    position: relative;
    margin-bottom: 5em;
}

.section-titre h1{
    position: relative;
    text-transform: uppercase;
    text-align: center;
    z-index: 5;
}

.section-titre h1::first-letter{
    color: #f96f00;
}

.section-titre h1::before{
    content: "";
    position: absolute;
    background-color: #3f4551;
    width: 170px;
    height: 2px;
    bottom: -16px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.section-titre h1::after{
    content: "";
    position: absolute;
    background-color: #f96f00;
    width: 70px;
    height: 2px;
    bottom: -16px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.section-titre h4{
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 90px;
    font-weight: 700;
    color: #ffffff0a;
    margin: 0;
    margin-top: -17px;
    width: 100%;
}

.gallery-content {
    display: flex;
    padding: 2px;
    transition: 0.3s;
}
.gallery-content:hover .gallery__image {
    filter: grayscale(1);
}
.gallery__column {
    display: flex;
    flex-direction: column;
    width: 25%;
}
.gallery__link {
    margin: 2px;
    overflow: hidden;
}
.gallery__link:hover .gallery__image {
    filter: grayscale(0);
}
.gallery__link:hover .gallery__caption {
    opacity: 1;
}
.gallery__thumb {
    position: relative;
    overflow: hidden;
}
.gallery__image {
    display: block;
    width: 100%;
    transition: 0.3s;
}
.gallery__image:hover {
    transform: scale(1.1);
}
.gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}

/* FOOTER */
footer{
    background: #101010;
    padding: 0.5em 4em;
}

footer p{
    margin: 0;
    color: #999;
}

footer a{
    color: #f96f00;
}

/* TOP-FOOTER */
.top-footer{
    display: flex;
    justify-content: space-around;
    /* border-top: 1px solid #f96f0014;
    margin-top: 1em; */
}

.top-footer .quick-link, .social-media, .contact-us{
    width: 33%;
}

.top-footer h5{
    font-size: 1.5em;
    color: white;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 22px;
    font-weight: 700;
    color: rgb(195 195 195 / 32%);
    margin: 0;
    margin-top: -17px;
    width: 100%;
}

.top-footer h5::before {
    content: "";
    position: absolute;
    background-color: #3f4551;
    width: 133px;
    height: 2px;
    bottom: -16px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.top-footer h5::after {
    content: "";
    position: absolute;
    background-color: #f96f00;
    width: 46px;
    height: 2px;
    bottom: -16px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.top-footer .quick-link-content, .social-media-content{
    margin-top: 2em;
    text-align: center;
}


.top-footer .quick-link-content{
    display: flex;
    flex-direction: column;
}

.top-footer .quick-link-content a{
    font-size: 14px;
    
}

.top-footer .social-media-content{
    display: flex;
    justify-content: center;
}

.top-footer .social-media-content i{
    font-size: 1.5em;
}

.top-footer .contact-us-content{
    color: white;
    margin-top: 2em;
    text-align: center;
}

.top-footer .contact-us-content i{
    margin-right: 0.5em;
    color: #f96f00;
}

/* PAGE LOGIN */
