{% extends "base.html.twig" %}

{% block title %}SVH-PHOTOGRAPHIE | Client
{% endblock %}

{% block body %}
	<section class="gallery-home p-section">
		<div class="section-titre">
                <h1>Profil Client</h1>
                <h4>Profil Client</h4>
            </div>

		<div class="container">
        
            <h1>Bonjour {{ app.user.firstName }}</h1>

            
        </div>
	</section>
{% endblock %}
