<section class="top-footer p-section shadow-lg">

     <div class="quick-link position-relative">
        <h5>Liens rapide</h5>
        <div class="quick-link-content">
            <a href="{{ path('gallery') }}">Galerie</a>
            <a href="">Tarifs</a>
            <a href="">Contact</a>
            <a href="">Accès client</a>
        </div>
    </div> 

     <div class="social-media position-relative">
        <h5>Réseaux sociaux</h5>
        <div class="social-media-content">
            <a href="https://www.facebook.com/svhphoto" target="_blank" style="margin-right: 0.8em;"><i class="fab fa-facebook-f ml-1"></i></a>
            <a href="https://www.instagram.com/svhphotographie/" target="_blank"><i class="fab fa-instagram ml-1"></i></a>
        </div>
    </div> 

    <div class="contact-us position-relative">
        <h5>Nous contacter</h5>
        <div class="contact-us-content">
            <p><i class="fas fa-map-marker-alt"></i> Secteur Bourgogne, Franche-Comté.</p>
            <p><i class="far fa-envelope"></i> svhphotographe@gmail.com</p>
            <p><i class="fas fa-phone-alt"></i> 06.64.96.18.16</p>
        </div>
    </div> 

</section>

<footer class="shadow-lg">
    <p class="text-center">&copy; SVH PHOTOGRAPHIE - 2021 | Création de <a href="https://benjaminmonvoisin.fr">Benjamin.M</a></p>
</footer>