<section class="top-footer p-section">

    <div class="quick-link">
        <h5>Liens rapide</h5>
        <div class="quick-link-content">
            <a href="">a propos</a>
            <a href="">Galerie</a>
            <a href="">Tarifs</a>
            <a href="">Contact</a>
            <a href="">Accès client</a>
        </div>
    </div>

    <div class="social-media">
        <h5>Réseaux sociaux</h5>
        <div class="social-media-content">
            <a href="" style="margin-right: 0.8em;"><i class="fab fa-facebook-f ml-1"></i></a>
            <a href=""><i class="fab fa-instagram ml-1"></i></a>
        </div>
    </div>

    <div class="contact-us">
        <h5>Nous contacter</h5>
        <div class="contact-us-content">
            <p><i class="fas fa-map-marker-alt"></i> Secteur Bourgogne, Franche-Comté.</p>
            <p><i class="fas fa-phone-alt"></i> 06.64.96.18.16</p>
            <p><i class="far fa-envelope"></i> svhphotographe@gmail.com</p>
        </div>
    </div>

</section>

<footer>
    <p class="text-center">&copy; SVH PHOTOGRAPHIE - 2021 | propulsé par <a href="https://benjaminmonvoisin.fr">Benjamin.M</a></p>
</footer>