<header class="shadow-lg" style="background: #101010;">
	<div class="menu d-flex justify-content-between align-items-center p-header">
		<div class="logo">
		<a href="{{ path('home') }}">
			<img src="{{ asset('uploads/svh-logo1.png') }}" height="100px" alt="Logo svh photographie" class="logo-svh">
		</a>
		</div>
		<nav class="d-flex">
			<a href="{{ path('gallery') }}" class="dropdown">Galerie</a>
			<div class="dropdown-content d-none">
				<a href="">AJOUTER FOR</a>
			</div>
			<a href="#">Tarifs</a>
			<a href="#">Contact</a>
			<a href="#">Accès client</a>
		</nav>
	</div>
</header>