<header>
	<div class="menu d-flex justify-content-between align-items-center p-header">
		<div class="logo">
			<img src="http://placehold.it/50x50" alt="Logo svh photographie" class="logo-svh">
		</div>
		<nav class="d-flex">
			<a href="{{ path('gallery') }}" class="dropdown">Galerie</a>
			<div class="dropdown-content d-none">
				<a href="">AJOUTER FOR</a>
			</div>
			<a href="#">Tarifs</a>
			<a href="#">Contact</a>
			<a href="#">Accès client</a>
		</nav>
	</div>
</header>